@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/philosopher/philosopheregular.ttf") format("truetype");
}

@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/philosopher/philosopherbold.ttf") format("truetype");
}

@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/philosopher/philosopheritalic.ttf") format("truetype");
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/geometria/geometriamedium.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/geometria/Geometria.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/geometria/geometriabold.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/geometria/geometriabolditalic.otf") format("opentype");
}

@font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/geometria/geometriaextrablackitalic.otf") format("opentype");
}

body {
 	
 	background-color: #cccccc;
 }

.container {
	position: relative;
	margin: 0 auto;
	width: 320px;
	background-color: #f7e611;
	overflow: hidden;
	z-index: -100;
}

.main-header {
	padding: 15px 20px;
	padding-bottom: 44px;
	display: flex;
	justify-content: space-between;
}

.toggle {
	position: relative;
	padding-top: 5px;
}

.toggle__element {
	display: block;
	position: relative;
	width: 20px;
	height: 2px;
	background-color: #000000;
}

.toggle__element:before,
.toggle__element:after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	height: 2px;
	background-color: #000000;
}

.toggle__element:before {
	top: 6px;
}

.toggle__element:after {
	top: 12px;
}

.main-block {
	position: relative;
	width: 320px;
}

.commercial {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 210px;
	height: 210px;
	background-color: #f7e611;
	transform: translate(70%, 50%) rotate(45deg);
	
	z-index: 200;
}

.commercial__wrap {
	position: relative;
	width: 210px;
	height: 210px;
	transform: rotate(-45deg);
}

.commercial__text {
	display: block;
	position: absolute;
	top: 62px;
	left: 20px;
	color: #000000;
	font-family: "Geometria";
	font-size: 20px;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 2px;
	
}

.commercial__text:last-of-type {
	display: none;
}

.bage-block {
	display: none;
}

.main-title {
	display: none;
	color: #ffffff;
    font-family: "Philosopher";
    font-size: 140px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 50.4px;
    text-transform: uppercase;
}

.tagline {
	position: absolute;
	top: 155px;
	left: -18px;
	color: #000000;
    font-family: "Philosopher";
    font-size: 9px;
    font-style: italic;
    text-transform: lowercase;
    opacity: 0.5;
    transform: rotate(-90deg);
    z-index: 100;
}

.big-bear {
	position: absolute;
	right: -75px;
	top: -179px;
	transform: rotate(-270deg);
	z-index: 0;
}

.affinage-special {
	position: absolute;
	left: 70px;
	top: 60px;
	width: 185px;
	height: 138px;
}

.affinage-special__wrap {
	position: relative;
	width: 185px;
	height: 138px;
}

.affinage-special__element {
	display: block;
	position: absolute;
	font-family: "Geometria";
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.affinage-special__element:first-of-type {
	bottom: -20px;
	left: 0;
	z-index: 100;
}

.affinage-special__element:nth-of-type(2) {
	bottom: -4px;
	left: 77px;
	z-index: 1;
}

.affinage-special__element:last-of-type {
	top: -10px;
	right: 0;
	z-index: 1;
}

.gallery {
	position: relative;
	width: 320px;
	height: 485px;
}

.gallery__block {
	position: absolute;
	background-color: #f7e611;
	overflow: hidden;
}

.gallery__block--back {
	top: 0;
	left: -45px;
	width: 281px;
    height: 185px;
    z-index: 0;
}

.gallery__block--front {
	top: 167px;
	left: 50%;
	width: 559px;
    height: 318px;
    transform: translate(-50%);
}

.galler__block img {
	display: block;
}

.gallery__block--back img {
	width: 281px;
	height: 185px;
}

.gallery__block--front img {
	width: 559px;
	height: 318px;
}

.gallery__block--back:after,
.gallery__block--front:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #f7e611;
	opacity: 0.8;
	z-index: 100;
}

.gallery__block--back img:after {
	width: 281px;
	height: 185px;
}

.control-panel {
	position: absolute;
	left: 50%;
	top: 320px;
	display: flex;
	justify-content: space-between;
    width: 283px;
	height: 37px;
	transform: translate(-50%);
	z-index: 2000;
}

.control-panel__handler {
	position: relative;
	width: 21px;
	height: 37px;
	cursor: pointer;
}

.control-panel__handler span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #000000;
	transform: rotate(-45deg);
	opacity: 0.4;
}

.control-panel__handler--right span {
	transform: rotate(45deg);
}

.control-panel__handler--right span:after,
.control-panel__handler--left span:after {
	content: "";
	position: absolute;
	width: 25px;
	height: 4px;
	background-color: #000000;
}

.control-panel__handler--right span:after {
	top: 11px;
	right: -11px;
	transform: rotate(-90deg);
}

.control-panel__handler--left span:after {
	top: 11px;
	left: -12px;
	transform: rotate(90deg);
}

.main-footer {
	position: absolute;
	width: 320px;
	left: 0;
	bottom: 0;
}

.main-footer__wrap {
	position: relative;
}

.main-footer__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 110px;
	transform: translate(-50%, -50%);
}

.main-footer__logo img {
	width: 110px;
	height: 110px;
}

.main-footer__info {
	position: relative;
	width: 320px;
	height: 10px;
}

.main-footer__info--left-block {
	display: none;
}

.main-footer__info--right-block {
	display: block;
}

.main-footer__info--right-block span {
	display: none;
}

.main-footer__info--right-block div {
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	z-index: 10;
}

.main-footer__info--right-block div:first-of-type {
	bottom: 30px;
	left: 44px;
}

.main-footer__info--right-block div:nth-of-type(2) {
	bottom: 318px;
	right: 28px;
}

@media (min-width: 1440px) {
	body {
		min-width: 1440px;
	}
	.container {
		width: 1440px;
		background-color: #ffffff;
	}

	.main-header {
		padding: 34px;
		padding-bottom: 40px;
	}

	.toggle {
		position: absolute;
		top: 100px;
		right: 80px;
		padding: 0;
		width: 54px;
		height: 54px;
		background-image: url("../img/togglebackground.png");
		background-size: 54px 54px;
		background-repeat: no-repeat;
		background-position: center;
	}

	.toggle__wrap {
		position: relative;
		width: 54px;
		height: 54px;
	}

	.toggle__element {
		position: absolute;
		top: 20px;
		left: 50%;
		transform: translate(-50%);
	}

	.main-block {
		padding-left: 80px;
		padding-right: 80px;
		width: 1280px;
	}

	.tagline {
		top: 430px;
		left: 280px;
	}

	.big-bear {
		top: 169px;
        right: 915px;
		transform: none;
		z-index: 1000;
	}

	.affinage-special {
		left: 980px;
	}

	.affinage-special__element {
		font-size: 80px;
		font-weight: 500;
    }

	.main-title {
		display: block;
		position: absolute;
		top: 40%;
		left: 50%;
		margin: 0;
        transform: translate(-47%);
		z-index: 2000;
    }

	.bage-block {
		display: block;
		position: absolute;
		top: 118px;
		left: 584px;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid #000000;
		
		z-index: 1000;
	}

	.bage-block__text {
		position: absolute;
		left: 50%;
		top: 50%;
		margin: auto;
		color: #ffffff;
	    font-family: Geometria;
	    font-size: 17px;
	    font-weight: 400;
	    letter-spacing: 2.14px;
	    text-transform: uppercase;
	    transform: translate(-50%, -50%);
	}

	.commercial {
		right: 278px;
		bottom: 35px;
		width: 138px;
		height: 383px;
		transform: none;
	}

	.commercial__wrap {
		width: 138px;
		height: 383px;
		transform: none;
	}

	.commercial__text {
		left: 21px;
		top: 304px;
		font-family: Geometria;
		font-size: 45px;
		font-weight: 800;
		font-style: italic;
		letter-spacing: 4.5px;
	}

	.commercial__text:last-of-type {
		display: block;
		left: 75px;
		top: 347px;
        font-size: 17px;
		letter-spacing: 1.7px;
		line-height: 56px;
	}

	.commercial__text:last-of-type:before {
		content: "";
		position: absolute;
		width: 17px;
		height: 3px;
		background-color: #000000;
	}

	.gallery {
		width: 1280px;
		height: 577px;
	}

	.gallery__block--back {
		top: 0;
	    left: 0;
		width: 800px;
		height: 525px;
	}

	.gallery__block--back img {
		width: 800px;
		height: 525px;
	}

	.gallery__block--front {
	    top: 87px;
	    left: 420px;
	    width: 860px;
        height: 490px;
        transform: none;
    }

    .gallery__block--front img {
    	width: 860px;
    	height: 490px;
    }

    .control-panel {
    	top: 387px;
    	left: 905px;
    	width: 216px;
    	transform: none;
    }

    .main-footer {
    	position: relative;
    	width: 1440px;
    	height: 126px;
    }

    .main-footer__logo {
    	width: 213px;
    	height: 112px;
    	text-align: center;
    	z-index: 1000;
    }

    .main-footer__logo-wrap {
    	width: 213px;
    	height: 112px;
    	overflow: hidden;
    }

    .main-footer__logo:after {
    	content: "";
    	position: absolute;
    	bottom: -11px;
    	left: 0;
		width: 213px;
		height: 11px;
		background-color: #f7e611;
		opacity: 0.75;
    }

    .main-footer__logo img {
    	width: 160px;
    	height: auto;
    }

    .main-footer__wrap {
    	display: flex;
    }

    .main-footer__info {
    	width: 720px;
    	min-height: 126px;
    }

    .main-footer__info--left-block {
    	display: block;
    }

    .main-footer__info span {
		color: #000000;
		font-family: Philosopher;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
    }

    .main-footer__info--right-block span {
    	display: block;
    	position: absolute;
    }

    .main-footer__info--left-block span {
    	display: block;
    	position: absolute;
    }

    .main-footer__info--left-block div:first-of-type {
    	position: absolute;
    	left: 192px;
    	top: 30px;
    }

    .main-footer__info--left-block div:last-of-type {
    	position: absolute;
    	left: 451px;
    	top: 30px;
    }

    .main-footer__info--left-block span:first-of-type {
    	left: 267px;
    }

    .main-footer__info--left-block span:nth-of-type(2) {
    	left: 332px;
    }

    .main-footer__info--left-block span:nth-of-type(3) {
    	left: 396px;
    }

    .main-footer__info--left-block span:nth-of-type(4) {
    	left: 455px;
    }

    .main-footer__info--left-block span:last-of-type {
    	left: 521px;
    }

    .main-footer__info--right-block div:first-of-type {
    	left: 245px;
    	top: 30px;
    }

    .main-footer__info--right-block div:last-of-type {
    	left: 480px;
    	top: 30px;
    }

    .main-footer__info--right-block span:first-of-type {
    	left: 210px;
    	top: 30px;
    }

    .main-footer__info--right-block span:nth-of-type(2) {
    	left: 311px;
    	top: 30px;
    }

    .main-footer__info--right-block span:last-of-type {
    	left: 423px;
    	top: 30px;
    }
	
}
