@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/philosopher/philosopheregular.ttf") format("ttf");
 }

 @font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/philosopher/philosopheritalic.ttf") format("ttf");
 }

 @font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/geometria/geometriamedium.otf") format("otf");
 }

 @font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/geometria/geometriabold.otf") format("otf");
 }

 @font-face {
  font-family: "Geometria";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/geometria/geometriabolditalic.otf") format("otf");
 }



 body {
 	
 	background-color: #cccccc;
 }

.container {
	position: relative;
	margin: 0 auto;
	width: 320px;
	background-color: #f7e611;
	overflow: hidden;
	z-index: -100;
}

.main-header {
	padding: 15px 20px;
	padding-bottom: 44px;
	display: flex;
	justify-content: space-between;
}

.toggle {
	position: relative;
	padding-top: 5px;
}

.toggle__element {
	display: block;
	width: 20px;
	height: 2px;
	background-color: #000000;
}

.toggle__element:before,
.toggle__element:after {
	content: "";
	position: absolute;
	right: 0;
	width: 20px;
	height: 2px;
	background-color: #000000;
}

.toggle__element:before {
	top: 11px;
}

.toggle__element:after {
	top: 17px;
}

.main-block {
	position: relative;
	width: 320px;
}

.commercial {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 210px;
	height: 210px;
	background-color: #f7e611;
	transform: translate(50%, 50%) rotate(45deg);
	
	z-index: 200;
}

.commercial__wrap {
	position: relative;
}

.commercial__text {
	position: absolute;
	top: 64px;
	left: 64px;
	width: 24px;
	height: 25px;
	color: #000000;
	font-family: Geometria;
	font-size: 20px;
	font-weight: 800;
	font-style: italic;
	letter-spacing: 2px;
}

.commercial__text:last-of-type {
	display: none;
}

.bage-block {
	display: none;
	padding-top: 33px;
	padding-left: 24px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #000000;

	color: #ffffff;
    font-family: Geometria;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 2.14px;
    text-transform: uppercase;
}

.main-title {
	display: none;
	width: 1045px;
    height: 157px;
    color: #ffffff;
    font-family: "Philosopher";
    font-size: 140px;
    font-weight: 400;
    letter-spacing: 50.4px;
    text-transform: uppercase;
}

.tagline {
	position: absolute;
	left: 20px;
	color: #000000;
    font-family: "Philosopher";
    font-size: 9px;
    font-style: italic;
    text-transform: lowercase;
    opacity: 0.5;
    transform: rotate(-90deg);
    z-index: 100;
}

.affinage-special {
	position: absolute;
	left: 70px;
}

.affinage-special__element {
	font-family: "Geometria";
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	color: #000000;
}

.gallery {
	width: 320px;
	height: 485px;
}

.gallery__wrap {
	position: relative;
	width: 320px;
	height: 485px;
	overflow: hidden;
}

.gallery__block {
	position: absolute;
	
    background-color: #f7e611;
    opacity: 0.8;
}

.gallery__block--back {
	top: 0;
	left: -45px;
	width: 281px;
    height: 185px;
}

.gallery__block--front {
	top: 167px;
	left: 50%;
	width: 559px;
    height: 318px;
    transform: translate(-50%);
}

.main-footer {
	position: absolute;
	width: 320px;
	left: 0;
	bottom: 0;
}

.main-footer__wrap {
	position: relative;
}

.main-footer__logo {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 110px;
	height: 110px;
	transform: translate(-50%, -50%);
}

.main-footer__info {
	display: none;
}

@media (min-width: 1440px) {
	body {
		min-width: 1440px;
	}
	.container {
		width: 1440px;
		background-color: #ffffff;
	}

	.main-header {
		padding: 34px;
	}

	.main-title {
		display: block;
        
	}

	.bage-block {
		display: block;
	}

	.gallery {
		top: 97px;
		left: 80px;
	}

	.gallery__block--back {
		top: 0;
	    left: 0;
		width: 800px;
		height: 525px;
	}

	.gallery__block--front {
	    top: 87px;
	    left: 420px;
	    width: 860px;
        height: 490px;
    }
	
}
